{{> head }}
{{> navbar }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Noodle</h1>
        </div>
        <div class="col-md-4">
            <img src="assets/images/noodle.png" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}